[mariadb]
plugin_maturity=experimental
datadir=/tmp/build/dce06a3d/mono_test_src/runtime/test_data/datafarm1
lc_messages_dir=/home/mono/workspace/mariadb/install/share
plugin_dir=/home/mono/workspace/mariadb/install/lib/plugin
max_connections=500
core_file
skip-log-bin
port=3301
socket=/tmp/mysql3301.sock
thread_handling=pool-of-threads
thread_pool_size=1
thread_pool_oversubscribe=10
thread_pool_dedicated_listener=1
table_open_cache_instances=20
plugin_load_add=ha_monograph
monograph
monograph_core_num=2
monograph_checkpointer_interval_sec=86400
monograph_local_ip=127.0.0.1:8010
monograph_ip_list=127.0.0.1:8010,127.0.0.1:8020,127.0.0.1:8030
monograph_node_group_replica_num=3
monograph_enable_mvcc=off
transaction_isolation=READ-COMMITTED
monograph_cc_protocol=OCC
monograph_node_memory_limit_mb=4000
monograph_kv_storage=cass
monograph_cass_user=cassandra
monograph_cass_password=cassandra
monograph_cass_hosts=172.31.5.203
monograph_keyspace_name=mono_pr_test_1735643583476
